main
{
    width: 400px;/*Largura*/
    height: 400px;/*Altura*/
    margin: auto;/*Elemento no meio*/
    background-color: #476ECC;
    color: #fff;
    padding: 30px 50px;
    box-sizing: border-box;
    text-align: center;
}
h1
{
    border: 10px solid #fff;
    border-radius: 60px;
}